*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.top{
    background: #1F2937;
    color: #F9FAF8;
    height: 80vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    margin-bottom: 80px;
}

.logo{
    font-size: 24px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.introduction{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    justify-content: space-between;
}

img{
    width: 300px;
    height: auto;
}

.right-side h2{
    font-size: 48px;
    margin-bottom: 10px;
}

.short{
    margin-bottom: 15px;
}

.sign-up{
    background-color: #3882F6;
    padding: 8px;
    border-radius: 5px;
    width: 90px;
}

.sign-up p{
    color: #F9FAF8;
    text-align: center;
}

.mid-info{
    padding: 30px;
}

.hinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-style: bold;
}

.container{
    display: flex;
    justify-content: center;
    gap: 52px;
}

.mid-info-box{
    border: 2px solid #3882F6;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.review{
    max-width: 100px;
    font-size: 16px;
    margin-bottom: 30px;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 250px;
    color: #1F2937;
    font-style: italic;
    margin-bottom: 50px;
}

.author{
    font-style: normal;
    text-align: right;
}

.cta{
    margin-bottom: 30px;
}

.cta-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    background-color: #3882F6;
    border-radius: 5px;
    margin: 0 auto;
    height: 100px;
}

.cta-bg,
.cta-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 6px;
}

.right-content{
    color: #F9FAF8;
}

.right-content p{
    font-weight: 100;
}

.left-content{
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 8px;
    border-radius: 5px;
    width: 90px;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 50px;
    color: #F9FAF8;
}